<!DOCTYPE html>
<html>
  <head>
    <title>Illustagram</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6 faa-float animated"><a href="/">　　<i class="fab fa-instagram"></i>イラスタグラム</a></h1>
          <% if user_signed_in? %>
            <div class="user_nav grid-6 ">
              <span><i class="fas fa-user faa-spin animated-hover"></i><%= current_user.nickname %>
                <ul class="user__info faa-spin animated-hover">
                  <li>
                    <a class="btn3" href="/users/<%= current_user.id %>">マイページ</a>
                    <%= link_to("ログアウト", destroy_user_session_path, {method: :delete, class: "btn3"}) %>
                  </li>
                </ul>
              </span>
              <a class="post faa-bounce animated-hover" href="/illustrations/new"><i class="fas fa-paint-brush fa-fw faa-wrench animated"></i> 投稿</a>　　
            </div>
          <% else %>
            <div class="grid-6">
              <%= link_to " ログイン", new_user_session_path, class: 'post fas fa-sign-in-alt faa-flash animated-hover'%>
              <%= link_to " 新規登録", new_user_registration_path, class: 'post fas fa-plus faa-flash animated-hover'%>　
            </div>
          <% end %>　　　
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
    <%# <script src="assets/javascripts/application.js" charset="utf-8">
      <div id="footer">
          <div id="slide">
            <div id="slide-in"> %>
              <p><i class="fas fa-copyright"></i> Illustagram 2019.</p>
            <%# </div>
          </div>
      </div>
    </script> %>
    </footer>
  </body>
</html>
